:root {
    --oddspot-black: #222222;
    --oddspot-red: #ff6354;
    --oddspot-white: #ffffff;
}

.home-button{
    width: 150px;
    height: 150px;
    border: none;
    outline: none;
    background: url('../graphics/oddspot_full_noBG.png') no-repeat center center;
    background-size: contain;
}

.navbar-button{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid var(--oddspot-red);
}

.navbar-button:hover{
    background-color: var(--oddspot-white);
    color: var(--oddspot-black);
}

.login-button{
    background-color: var(--oddspot-red);
    color: var(--oddspot-black);

}

.sign-up-button{
    background-color: var(--oddspot-black);
    color: var(--oddspot-white);
}

/* global style navbar */
.navbar-container{
    /*background-color: #ffffff;*/
    background: linear-gradient(to top, rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.2));
    backdrop-filter: blur(3px);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
    /*border-bottom: 1px solid #e1e1e1;*/
}

.navbar-logo-container, .navbar-items-container, .navbar-login-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo-container .navbar-login-container{
    width: 20%;
}

.navbar-items-container{
    width: 60%;
}

/* navbar-link style*/
.navbar-item {
    text-decoration: none;
    color: var(--oddspot-white);
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

i {
    margin-right: 6px;
}

/* navbar-link hover-effect */
.navbar-item:hover {
    color: var(--oddspot-red);
}

/* active site style */
.navbar-container .active {
    color: var(--oddspot-red);
}

/* Stile für den Menü-Button (wenn die Navbar für Mobilgeräte angezeigt wird) */
.menu-button {
    display: none; /* In Desktop-Ansicht verstecken */
}

/* Media Query für Mobilgeräte */
@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar a {
        display: none;
    }

    .menu-button {
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    text-decoration: none;
    color: var(--oddspot-white);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--oddspot-white);
    min-width: 200px;
    z-index: 1;
    border-radius: 10px;
  }

  .dropdown.active .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: var(--oddspot-black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: var(--oddspot-red);
    border-radius: 10px;
  }
  