:root {
    --oddspot-black: #222222;
    --oddspot-red: #ff6354;
    --oddspot-white: #ffffff;
}

body {
    background-image: url('./graphics/cl_background.png'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Das Bild wird so skaliert, dass es den gesamten Hintergrund bedeckt */
    background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
    background-attachment: fixed; /* Das Bild bleibt beim Scrollen fixiert */
    font-family: 'Kanit';
}